# SPDX-License-Identifier: Apache-2.0
name: Build
on:
  push:
    branches:
      - master
  pull_request:

# Explicitly drop all permissions.
# Permissions will be granted to individual jobs as needed.
permissions: { }

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2

      - name: Set up JDK 21
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # 5.0.2
        with:
          java-version: 21
          distribution: 'temurin'
          cache: 'maven'

      - name: Build
        shell: bash
        run: |
          mvn --show-version --batch-mode --errors --no-transfer-progress \
          verify jacoco:report

      - name: Upload coverage, test results and binary artifacts
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # 6.0.0
        with:
          name: test-results
          path: |
            target/classes/
            target/test-classes/
            target/surefire-reports/
            target/site/jacoco/jacoco.xml
